<ul class="tweet-list">
  <% tweets.each do |tweet| %>
    <li>
      <p>
        <strong><%= link_to "@#{tweet.user.username}", user_path(tweet.user) %></strong>
        <small>
          <%= tweet.created_at.strftime("%-m/%-d %H:%M") %>
          <%= link_to "削除", tweet_path(tweet), data: {:confirm => "ツイートを削除しますか？"}, method: :delete %>
        </small>
      </p>
      <%= simple_format tweet.content %>

      <p class="tweet-action-bar">
        <% if tweet.liked?(current_user.id) %>
          <%= link_to tweet_like_path(tweet), method: :delete do %>
          <i class="fas fa-heart"></i>  
        <% end %>
      <% else %>
        <%= link_to tweet_like_path(tweet), method: :post do %>
        <i class="far fa-heart"></i>
      <% end %>
  <% end %>
  <span><%= tweet.liked_count %></span>
</p>

    </li>
  <% end %>
</ul>
