<div class="profile">
  <p class="is-size-5 has-text-weight-bold">@<%= user.username %></p>
  <p class="has-text-grey"><%= "#{user.created_at.strftime('%Y年%-m月')}に登録" %></p>

  <nav class="level is-mobile profile-counter">
    <div class="level-left">
      <div class="level-item">
        <div>
          <p class="is-size-7 has-text-weight-bold">ツイート</p>
          <%= link_to user.tweets.size, user_path(user), class: "is-size-5" %>
        </div>
      </div>
      <div class="level-item">
        <div>
          <p class="is-size-7 has-text-weight-bold">いいね</p>
          <%= link_to user.liked_count, user_likes_path(user), class: "is-size-5" %>
        </div>
      </div>
    </div>
  </nav>
</div>
