<nav class="navbar has-shadow navbar-user">
  <div class="container">
    <div class="navbar-brand">
      <%= link_to "ツイート", user_path(@user), class: "navbar-item is-tab #{'is-active' if controller_path == 'users'}" %>
      <%= link_to "いいね", user_likes_path(@user), class: "navbar-item is-tab #{'is-active' if controller_path == 'likes'}" %>
    </div>
  </div>
</nav>


<div class="container">
  <section class="section">
    <div class="columns">
      <div class="column is-4">
        <%= render "users/profile", user: @user %>
      </div>
      
      <div class="column is-8">
        <%= render "tweets/tweet_list", tweets: @tweets %>
      </div>
    </div>
  </section>
</div>
