/*
  Place all the styles related to the matching controller here.
  They will automatically be included in application.css.
*/

.tweet-list {
  background-color: #fff;
}

.tweet-list li {
  border-top: 1px solid #ddd;
  padding: 20px;
}


.tweet-form {
  background-color: #f5f8fa;
  padding: 20px;
}

.tweet-action-bar {
  margin-top: 10px;
}

