/*
  Place all the styles related to the matching controller here.
  They will automatically be included in application.css.
*/

.profile {
  background-color: #fff;
  padding: 10px 20px;
  word-wrap: break-word;
}

.profile-counter {
  margin-top: 10px;
}
.navbar-user {
  border-top: 1px solid #dbdbdb;
}
