<div class="container">
  <section class="section">
    <div class="column is-4 is-offset-4">
      <h1 class="title is-2 has-text-centered has-text-grey">ユーザー登録</h1>

      <%= form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f| %>
        <%- if resource.errors.present? %>
          <div class="notification is-warning">
            <%= devise_error_messages! %>
          </div>
        <% end %>

        <div class="box">

           <!-- ここから追加 -->

          <div class="field">
           <%= f.label :username, class: "label" %>
           <p class="control">
              <%= f.text_field :username, class: "input is-medium", autofocus: true %>
           </p>
          </div>
        
          <hr>
          <!-- ここまで追加 -->


          <div class="field">
            <%= f.label :email, class: "label" %>
            <p class="control">
              <%= f.email_field :email, class: "input is-medium", autocomplete: "email", required: true %>
            </p>
          </div>

          <div class="field">
            <%= f.label :password, class: "label" %>
            <p class="control">
              <%= f.password_field :password, class: "input is-medium", autocomplete: "off", required: true %>
            </p>
          </div>

          <div class="field">
            <%= f.label :password_confirmation, class: "label" %>
            <p class="control">
              <%= f.password_field :password_confirmation, class: "input is-medium", autocomplete: "off", required: true %>
            </p>
          </div>

          <br>
          <div class="field">
            <p class="control" style="width:100%">
              <%= f.submit "ユーザー登録", class: "button is-primary is-medium", style: "width:100%" %>
            </p>
          </div>
        </div>
      <% end %>
    </div>
  </section>
</div>
